version: "3.9"

services:

  db:
    image: postgres:15
    restart: always
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 5s
      timeout: 3s
      retries: 5

  web:
    build:
      context: .
      dockerfile: dockerfile
    command: ["entrypoint.sh"]
    volumes:
      - .:/app
      - static:/app/staticfiles
      - media:/app/media
    env_file:
      - .env
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    restart: always

  bot:
    build:
      context: .
      dockerfile: dockerfile
    command: ["python", "bot.py"]
    env_file:
      - .env
    volumes:
      - .:/app
      - media:/app/media
    depends_on:
      db:
        condition: service_healthy
    restart: always

volumes:
  pgdata:
  static:
  media:
